/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page{
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    
    
}
.content{
    padding: 20px 10px;
    text-align: center;
    background: #fff;
    /* height: 400px; */
    /* width: 55%; */
    border: 1px solid rgb(167, 167, 167);
}
.content img{
    margin-top: 15px;
}

.content .form{
    margin-top: 30px;
}
.content .form input{
   background-color: #FAFAFA;
   width: 90%;
   outline: none;
   border-style: none;
   padding: 8px 5px;
   border: 1px solid rgb(141, 139, 139);
   font-size: 15px;
   border-radius: 3px;
   margin-bottom: 8px;
}


.content .btn{
    margin-top: 20px;
    width: 90%;
    padding: 9px 0px;
    background: rgb(108, 108, 237);
    border: none;
    border-radius:5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.after{
    /* width: 90%; */
    padding: 20px 10px;
}
.after .or-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    margin-bottom: 20px;
}
.line{
    width: 120px;
    height: 2px;
    background-color: rgb(196, 196, 196);
}  
.fb-info{
    text-decoration: none;
}
.fb-info i{
    font-size: 15px;
    background-color: blue;
    color: white;
    padding: 4px 6px;
}
.forget{
    color: #00376b;
    font-size: 14px;
    margin-top: 10px;
}
.signup{
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    font-size: 15px;
    background: white;
    width: 390px;
    font-size: 15px;
    border: 1px solid rgb(167, 167, 167);
}
.signup a{
    text-decoration: none;
}


.last{
    margin-top: 15px;
   width: 390px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.flex{
    /* padding: 10px; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0px 20px;
}
.flex img{
    width: 100px;
}
.last p{
    margin-bottom: 10px;
    text-align: center;
    font-size: 17px;
}
